*.js
*.js.map
*.log
!scripts/*.js
!src/scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/**/*.d.ts
demo/lib
demo/platforms
demo/node_modules
demo/app/App_Resources/Android/google-services.json
node_modules
.idea/
.vscode/
.nsprepareinfo
src/platforms/android/nativescript_urban_airship.aar
publish/package-lock.json
publish/package/
!demo/hooks/after-prepare/firebase-copy-google-services.js
!demo/hooks/after-prepare/firebase-adjust-gradle.js