*.js
*.js.map
*.log
!scripts/*.js
!src/scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/**/*.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
.idea/
.vscode/
.nsprepareinfo
!demo/hooks/after-prepare/firebase-copy-google-services.js
!demo/hooks/after-prepare/firebase-adjust-gradle.js